.movie-card {
  display: grid;
  grid-template-areas: "img text";
  grid-template-columns: 40% 60%;
  padding: 10px;
  margin: 10px;
  background: #ddd;
  border-radius: 3px;
}

img {
  width: 100%;
  grid-area: img;
  border-radius: 3px;
}

.text {
  grid-area: text;
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.text > * {
  margin: 0;
}
