:root {
  --primary-color: #032541;
  --secondary-color: #01d277;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

.center {
  display: grid;
  align-items: center;
  justify-content: center;
}

header {
  height: 80px;
  background: var(--primary-color);
  padding: 10px;

  display: flex;
  justify-content: space-between;
}

header img {
  width: 60px;
  margin-left: 10px;
}

.search-bar {
  display: flex;
  align-items: center;
}
.search-bar > * {
  height: 55px;
  border-radius: 3px;
  border: none;
}
.search-bar input {
  border: none;
  border-radius: 3px;
  margin: 5px 10px;
  padding: 20px;
  font-size: 20px;
  color: var(--primary-color);
  max-width: 180px;
}
.search-bar button {
  width: 55px;
  margin: 5px 10px;
  cursor: pointer;
}

.search-bar icon {
  font-size: 20px;
  color: var(--primary-color);
}

#main {
  padding: 15px;
}
